<h1>Dashboard</h1>
<p><%= "Bienvenido, #{current_user.name}" %><p>
<% if flash[:error] %>
  <p><%= flash[:error] %><p>
<% end %>
<% if flash[:notice] %>
  <p><%= flash[:notice] %><p>
<% end %>
<h2>Acciones</h2>
<% if current_user.admin %>
  <p><%= link_to 'Crear usuario', new_user_path %><p>
<% end %>
<p><%= link_to 'Crear domicilio', '#' %><p>
<h2>Ver</h2>
<p><%= link_to 'Lista usuarios', users_path %><p>
<p><%= link_to 'Lista domicilios', '#' %><p>
<h2>Configuracion</h2>
<p><%= link_to 'editar', edit_user_path(current_user) %><p>
<p><%= link_to 'logout', :logout, method: :delete %><p>