<ul>
	<% if page == 0 %> 
		<li><%= link_to 'Inicio', :root, id: 'current' %></li>
	<% else %>
		<li><%= link_to 'Inicio', :root %></li>
	<% end %> 
	
	<% if page == 1 %>
		<li><%= link_to 'Clientes', :customers, id: 'current' %></li>
	<% else %>
		<li><%= link_to 'Clientes', :customers %></li>
	<% end %>		
	
	<% if current_user.admin %>
		<% if page == 2 %>
			<li><%= link_to 'Usuarios del Sistema', :users, id: 'current' %></li>
		<% else %>
			<li><%= link_to 'Usuarios del Sistema', :users %></li>
		<% end %>
		
		<% if page == 3 %>
			<li><%= link_to 'Reportes', '#', id: 'current' %></li>
		<% else %>
			<li><%= link_to 'Reportes', '#' %></li>
		<% end %>
	<% end %>
</ul>