<table width="870" border="0" align="center" cellpadding="5" cellspacing="0" id="news-list" class="pretty">
	<thead>
		<tr>
			<% if current_user.admin %>
				<th width="16" scope="col">&nbsp;</th>
				<th width="16" scope="col">&nbsp;</th>
			<% else %>
				<th width="16" scope="col">&nbsp;</th>
			<% end %>
			<th width="240" scope="col">Monto</th>
			<th width="180" scope="col">Fecha</th>
		</tr>
	</thead>
	<tbody>
		<% @amounts.each do |a| %>
			<tr class="item_list">
				<% if current_user.admin %>
					<td width="16">
						<%= link_to image_tag("delete.png",size:"16x16"), motorcycle_amount_path(a.motorcycle_id, a.id), method: :delete, remote: true, class: 'delete-amount', confirm: '¿Esta seguro que desea eliminar la base?' %>
					</td>
					<td width="16">
						<%= link_to image_tag("edit.png",size:"16x16"), '#', id: "edit-amount_#{a.id}" %>
					</td>
				<% else %>
					<td width="16">
						<%= link_to image_tag("edit.png",size:"16x16"), '#' %>
					</td>
				<% end %>
				<td width="240" id="money-amount-value_<%= a.id %>" > <%= a.money_amount %></td>
				<td width="180"><%= a.created_at.strftime('%d-%m-%Y %I:%M %p') %></td>
			</tr>
		<% end %>
	</tbody>
</table>