<table width="870" border="0" align="center" cellpadding="5" cellspacing="0" id='deliveries_table'>
	<thead>
		<tr>
			<th width="16" scope="col">&nbsp;</th>
			<th width="16" scope="col">&nbsp;</th>
			<th width="240" scope="col">Cliente</th>
			<th width="240" scope="col">Dirección</th>
			<th width="240" scope="col">Costo</th>
		</tr>
	</thead>
	<tbody>
		<% @deliveries.each do |d| %>
			<tr class='item_list' >
				<td width="16">
					<%= link_to image_tag("edit.png",size:"16x16"), '#' %>
				</td>
				<td width="16">
					<%= link_to image_tag("delete.png",size:"16x16"), d, method: :delete, confirm: '¿Esta seguro que desea eliminar el número?'  %>
				</td>
				<td width="240"><%= link_to d.address.customer.name, customer_path(d.address.customer) %></td>
				<td width="240"><%= link_to d.address.value, customer_address_path(customer_id: d.address.customer.id, id: d.id.to_s) %></td>
				<td width="240"><%= d.delivery_cost %></td>
			</tr>
		<% end %>
	</tbody>
</table>