<% content_for :head do %>
  <%= stylesheet_link_tag 'deliveries', :media => 'all' %>	
  <%= stylesheet_link_tag 'jquery-ui', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery-validate' %>
  <%= javascript_include_tag 'deliveries' %>
<% end %>

<div id="container">
	<%= render 'shared/admin_login_info' %>
	<div id="header">
		<%= render 'shared/admin_header' %>
	</div>
	<div id="navcontainer">
		<%= render 'shared/admin_menu', page: 2 %>
	</div>

	<div id="content">
		<% if flash[:notice]%>
			<p class="done"> <%= flash[:notice]%></p>
		<% end %>
		<h3> Crear Nuevo Domicilio</h3>
		<%= text_field_tag 'telephone[number]', nil , size: 50 %>
		<%= submit_tag 'Buscar Cliente', class: 'button search-button' %>
		<div id='customers-find'>
			<ol id="selectable-customers">
			</ol>
		</div>
		<h2>Información del Domicilio</h2>
		<%= form_for @customer, url: '/deliveries' do |c| %>
			<p>
				<%= c.hidden_field :id, value: '-1' %>
				<%= c.label :name, 'Nombre:' %>
				<%= c.text_field :name, size: 60 %>
				<% if @customer.errors[:name] %>
					<br>
					<%= @customer.errors[:name].first %>
				<% end %>
			</p>
			<p>
				<%= c.fields_for :telephones do |t| %>
					<%= t.label :number, 'Teléfono:' %>
					<%= t.text_field :number, size: 60 %>
				<% end %>
			</p>
				<%= c.fields_for :addresses do |a| %>
					<p>
						<%= a.label :value, 'Dirección:' %>
						<%= a.text_field :value, size: 60 %>
					</p>		
						<%= a.fields_for :deliveries do |d| %>
							<p>
							</p>
							<p>
								<%= d.label :description, 'Descripción del Domicilio:' %>
								<%= d.text_area :description, size: '68x10' %>
							</p>
							<p>
								<%= d.label :delivery_cost, 'Total:' %>
								<%= d.text_field :delivery_cost, size: 30 %>
							</p>
						<% end %>
				<% end %>
			<p>
				<%= c.submit 'Registrar Domicilio' %>
			</p>
		<% end %>
	</div>
</div>