<% content_for :head do %>
  <%= stylesheet_link_tag 'deliveries', :media => 'all' %>	
  <%= stylesheet_link_tag 'jquery-ui', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery-validate' %>
  <%= javascript_include_tag 'deliveries' %>
<% end %>

<div id="container">
	<%= render 'shared/admin_login_info' %>
	<div id="header">
		<%= render 'shared/admin_header' %>
	</div>
	<div id="navcontainer">
		<%= render 'shared/admin_menu', page: 2 %>
	</div>

	<div id="content">
		<% if flash[:notice]%>
			<p class="done"> <%= flash[:notice]%></p>
		<% end %>
		<h3> Crear Nuevo Domicilio</h3>
		<%= text_field_tag 'telephone[number]', nil , size: 50 %>
		<%= submit_tag 'Buscar Cliente', class: 'button search-button' %>
		<div id='customers-find'>
			<ol id="selectable-customers">
			</ol>
		</div>
		<h2>Información del Domicilio</h2>
		<%= form_tag '/deliveries', method: :post, id: 'deliveries_create' do %>
			<p>
				<%= hidden_field_tag 'customer[id]', '-1' %>
				<%= label_tag 'customer_name', 'Nombre:' %>
				<%= text_field_tag 'customer[name]', nil, size: 60 %>
				<% if @customer %>
					<% if @customer.errors[:name] %>
						<br>
						<%= @customer.errors[:name].first %>
					<% end %>
				<% end %>
			</p>
			<p>
				<%= label_tag 'customer_telephones_number', 'Teléfono:' %>
				<%= text_field_tag 'customer[telephones][number]', nil, size: 60 %>
				<% if @t %>
					<% if @t.errors[:number] %>
						<br>
						<%= @t.errors[:number].first %>
					<% end %>
				<% end %>
				
			</p>
			<p>
				<%= label_tag 'customer_addresses_value', 'Dirección:' %>
				<%= text_field_tag 'customer[addresses][value]', nil, size: 60 %>
				<% if @a %>
					<% if @a.errors[:value] %>
						<br>
						<%= @a.errors[:value].first %>
					<% end %>
				<% end %>
			</p>
			<p>
			</p>
			<p>
				<%= label_tag 'customer_address_delivery_description', 'Descripción del Domicilio:' %>
				<%= text_area_tag 'customer[addresses][deliveries][description]', nil, size: '68x10' %>
				<% if @d %>
					<% if @d.errors[:description] %>
						<br>
						<%= @d.errors[:description].first %>
					<% end %>
				<% end %> 
			</p>
			<p>
				<%= label_tag 'customer_address_delivery_delivery_cost', 'Total:' %>
				<%= text_field_tag 'customer[addresses][deliveries][delivery_cost]', nil, size: 30 %>
				<% if @d %>
					<% if @d.errors[:delivery_cost] %>
						<br>
						<%= @d.errors[:delivery_cost].first %>
					<% end %>
				<% end %>

			</p>
			<p>
				<%= submit_tag 'Registrar Domicilio' %>
			</p>	
		<% end %>
	</div>
</div>
