<% content_for :head do %>
  <%= stylesheet_link_tag 'customers', :media => 'all' %>	
  <%= stylesheet_link_tag 'jquery-ui', :media => 'all' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery-validate' %>
<% end %>

<div id="container">
	<%= render 'shared/admin_login_info' %>
	<div id="header">
		<%= render 'shared/admin_header' %>
	</div>
	<div id="navcontainer">
		<%= render 'shared/admin_menu', page: 1 %>
	</div>

	<div id="content">
		<% if flash[:notice]%>
			<p class="done"> <%= flash[:notice]%></p>
		<% end %>
		<h1>Información del Cliente</h1>
		
		<h2>Nombre del Cliente</h2>
		<h3><%= @customer.name %></h3>
		
		<h2>Email del Cliente</h2>
		<h3><%= @customer.email %></h3>

		<%= button_tag 'Agregar Teléfono', type: 'button', id: 'add-telephone-button', class: 'button' %>

		<div id='telephones'>
		</div>

		<%= button_tag 'Agregar Dirección', class: 'button' %>

		<div id='address'>
		</div>

		<div id='new-telephone-form' class='hide'>
			<h2>Nuevo Teléfono</h2>
			<%= form_for @telephone do |f| %>
				<%= f.hidden_field :customer_id %>
				<%= f.text_field :number, placeholder: 'Número Telefónico', class: 'required' %>
			<% end %>
		</div>

		<div id='new-address-form'>
		</div>
	</div>
</div>