<div id="login_container" name="login_container">
  <% if flash[:error] %>
    <%= flash[:error]%>
  <% end %>
  <%=form_tag sessions_path, id: "session-create-form", name: "session-create-form" do%>
    <%= label_tag :username, "Usuario:"%><br>
    <%= text_field_tag :username %><br><br>
    <%= label_tag :password, "Contraseña:"%><br>
    <%= password_field_tag :password %><br><br>
    <%= submit_tag "Iniciar Sesión", id: "login", name: "login" %>
  <%end%>
</div>
